@inject MediatR.IMediator _mediator

<div id="header" class="headernew px-5 pt-3 nav-links">
    <a href="/" class="icon-container">
        <image class="fb-icon" src="/images/fbicon.png" />
        <h3 class="name">Bet Book</h3>
    </a>

    <div class="balance-item">
        <h6 class="balance-value">$@LoggedInUser?.AccountBalance.ToString("#,##0.00")</h6>
    </div>

    <div class="login">
        <LoginDisplay Balance="@LoggedInUser?.AccountBalance.ToString("#,##0.00")"/>
    </div>
    
</div>

@code {
    [Parameter]
    public UserModel? LoggedInUser { get; set; }
}
