
<div>
    <label style="margin-left: 3.5em;">@BetType Parley Bets</label>
    @if(BetList.Count != 0)
    {
        @foreach(ParleyBetModel parleyBet in BetList)
        {
            <div class="parley-bet">
                <div class="parley-bet-label">
                    <label style="margin-top:1em;">Payout Amount $@Convert.ToDecimal(parleyBet.BetPayout).ToString("#.00")</label>
                </div>
                @foreach(BetModel bet in parleyBet.Bets)
                {
                    <div class="bet">
                        <h6 style="margin-top:1em;" class="font">Chosen Winner || @bet.ChosenWinner?.TeamName</h6>
                        @if(bet.FinalWinner is not null)
                        {
                            <h6 class="font">Final Winner || @bet.FinalWinner.TeamName</h6>
                        }
                        else
                        {
                            <h6 class="font">Final Winner || NONE</h6>

                        }
                        <h6 style="margin-bottom:1em;" class="font">Point Spread || @bet.Game?.PointSpread</h6>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="parley-bet">
            <div class="bet">
                <p class="font" style="margin: 1em 0;">NONE</p>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string? BetType { get; set; }

    [Parameter]
    public List<ParleyBetModel> BetList { get; set; } = new();
}
