
<div>
    <label style="margin-left: 3.5em;">@BetType Parley Bets</label>
    @if(BetList.Count != 0)
    {
        @foreach(ParleyBetModel parleyBet in BetList)
        {
            <div class="parley-bet">
                <div class="parley-bet-label">
                    <label style="margin-left:4em;margin-top:1em;">Payout Amount $@Convert.ToDecimal(parleyBet.BetPayout).ToString("#.00")</label>
                </div>
                @foreach(BetModel bet in parleyBet.Bets)
                {
                    <div class="bet">
                        <ul style="margin-top:.5em;">
                            <li>Chosen Winner || @bet.ChosenWinner?.TeamName</li>
                            @if(bet.FinalWinner is not null)
                            {
                                <li>Final Winner || @bet.FinalWinner.TeamName</li>
                            }
                            else
                            {
                                <li>Final Winner || NONE</li>

                            }
                                <li>Point Spread || @bet.Game?.PointSpread</li>
                        </ul>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="parley-bet">
            <div class="bet">
                <p style="margin: 1em 0;">NONE</p>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string? BetType { get; set; }

    [Parameter]
    public List<ParleyBetModel> BetList { get; set; } = new();
}
