
<div>
    <label style="margin-left: 5em;">@BetType Bets</label>
    @if(BetList.Count != 0)
    {
        if(BetList.Where(b => b.BetPayout != 0).ToList().Count == 0)
        {
            <div class="bet">
                <p style="margin: 1em 0;">NONE</p>
            </div>
        }
        @foreach(BetModel bet in BetList)
        {
            if(bet.PayoutStatus != PayoutStatus.PARLEY && bet.BetAmount != 0)
            {
                <div class="bet">
                    <ul style="margin-top:1em;">
                        <li>Chosen Winner || @bet.ChosenWinner?.TeamName</li>
                        @if(bet.FinalWinner is not null)
                        {
                            <li>Final Winner || @bet.FinalWinner.TeamName</li>
                        }
                        else
                        {
                            <li>Final Winner || NONE</li>

                        }
                        <li>Payout Amount || $@Convert.ToDecimal(bet.BetPayout).ToString("#.00")</li>
                        <li>Point Spread || @bet.Game?.PointSpread</li>
                    </ul>
                </div>
            }
        }
    }
    else
    {
        <div class="bet">
            <p style="margin: 1em 0;">NONE</p>
        </div>
    }
</div>

@code {

    [Parameter]
    public string? BetType { get; set; }

    [Parameter]
    public List<BetModel> BetList { get; set; } = new();

}
