@inject NavigationManager navManager

<div class="rec-sec">
        <label style="margin-left: 2.5em;">@StatName</label>
        <div class="team">
            @if(TeamStats[GameTeamRecordsListIndex] != 0)
            {
                <ul style="margin: 0 0;">
                    @foreach(var team in GameTeamRecordsLists[GameTeamRecordsListIndex])
                    {
                        <li style="margin-right: 2em;margin-top: .5em;margin-bottom:.5em;">@team</li>
                    }
                </ul>
            }
            else
            {
                <h6>None</h6>   
            }
        </div>
</div>

@code {

    // Name of the stat in team stats
    [Parameter]
    public string? StatName { get; set; }

    [Parameter]
    // Index of GameTeamRecordsList
    public int GameTeamRecordsListIndex { get; set; }

    [Parameter]
    // List of a list of team records in current game
    public List<List<string>> GameTeamRecordsLists { get; set; } = new();

    // Array of stats of teams in the game
    [Parameter]
    public int[] TeamStats { get; set; } = new int[6];
}