
<div class="rec-sec">
        <label style="text-align: center;">@StatName: @TeamStats[GameTeamRecordsListIndex]</label>
        <div class="team">
            @if(TeamStats[GameTeamRecordsListIndex] != 0)
            {
                @foreach(var draw in GameTeamRecordsLists[GameTeamRecordsListIndex])
                {
                    <h6>@draw| |</h6>
                }
            }
            else
            {
                <h6>None</h6>   
            }
        </div>
</div>

@code {

    // Name of the stat in team stats
    [Parameter]
    public string? StatName { get; set; }

    [Parameter]
    // Index of GameTeamRecordsList
    public int GameTeamRecordsListIndex { get; set; }

    [Parameter]
    // List of a list of team records in current game
    public List<List<string>> GameTeamRecordsLists { get; set; } = new();

    // Array of stats of teams in the game
    [Parameter]
    public int[] TeamStats { get; set; } = new int[6];
}