
<div class="stat">
    <div class="rec-sec">
        <div>
            <div class="stat-title">
                <label style="margin-bottom:0;">@StatType</label>
            </div>
            <ul>
                @if(Stats is not null)
                {
                    @if(Stats.Length != 0)
                    {
                        @foreach(string team in Stats)
                        {
                                <li>@team</li>
                        }
                    }
                    else
                    {
                            <li>None</li> 
                    }
                }
            </ul>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string[]? Stats { get; set; }

    [Parameter]
    public string? StatType { get; set; }

}