@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Montserrat', sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    margin-top: 125px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }



/**********************************************************************
                                START 
***********************************************************************/


/**********************************
        Typography
**********************************/

label {
    font-weight: 700;
    font-size: 20px;
}

p {
    font-size: 20px;
    font-weight: 700;
}

li {
    font-size: 20px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 1em 1em;
}

.nav-links {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
}

/******************************
        Main Layout
*******************************/

.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: fixed;
    background: palegreen;
    padding: 1em 0;
    border-bottom: 4px solid green;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
}

.name {
    font-size: 50px;
    margin-top: .25em;
    margin-left: .25em;
    color: green;
    font-weight: 700;
}

.fb-icon {
    height: 75px;
}

/*******************************
        Layout
*******************************/

.home-team {
    border: 4px solid green;
    border-radius: 15px;
    width: 12.5%;
    margin-right: 12em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: palegreen;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 3em;
}

.away-team {
    border: 4px solid green;
    border-radius: 15px;
    width: 12.5%;
    margin-left: 12em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: palegreen;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em 3em;
}

.basic-record {
    display: flex;
}

.dash {
    margin-left: 1rem;
    margin-right: 1rem;
}

.local {
    border: 3px solid green;
    border-radius: 15px;
    background: white;
}

.wager-form-container {
    border: 4px solid green;
    background: palegreen;
    border-radius: 15px;
    width: 50%;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.team-item {
    padding: .25em;
    font-size: 25px;
    font-weight: 700;
}

.input {
    display: flex;
    justify-content: space-evenly;
}

.game-details {
    border: 4px solid green;
    background: palegreen;
    margin: 1rem .5em;
    border-radius: 15px;
    text-align: center;
    width: 50%;
}

.game-container {
    display: flex;
}

.game-info-container {
    border: 4px solid green;
    width: 50%;
    border-radius: 15px;
    background: palegreen;
    margin-right: 1em;
}

.game-wager-container {
    display: flex;
    justify-content: space-evenly;
}

.game-input {
    border: 4px solid green;
    width: 50%;
    margin-left: .5em;
    border-radius: 15px;
    background: #98FB98; /*Pale Green*/
}

.input-box {
    padding: .5em 0;
    width: 50%;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
}

.input-label-container {
    display: flex;
    justify-content: space-between;
}

.label-container {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}

.winner-input {
    width: 50%;
    background: #98FB98; /*Pale Green*/
    margin-left: .5em;
    border-radius: 15px;
    border: 4px solid green;
}

.game-info {
    list-style-type: none;
    padding: .25em 0;
    margin-top: 2em;
}

.game-list {
    margin: 1em auto;
    text-align: center;
}

.wager-box {
    width: 25%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.undo-btn-container {
    margin-top: 2em;
}

.winner-btn-container {
    text-align: center;
    margin-top: 4em;
}

.review {
    text-align: center;
    margin-top: 4em;
}

.team {
    display: flex;
    margin: 1em 0;
}

.records {
    display: flex;
    justify-content: space-evenly;
}

.rec-sec {
    margin-bottom: 1em;
}

.user {
    width: 50%;
    background: #98FB98; /*Pale Green*/
    border-radius: 15px;
    margin: 0 auto;
    border: 4px solid green;
}

.divider {
    border-bottom: 2px solid green;
    margin: 2em 6em;
}

.game {
    margin: .5rem .5rem;
    border-radius: 10px;
    text-align: center;
}

.bets {
    margin-bottom: 2em;
}

.profile-label {
    margin-left: 2.5em;
    margin-top: 1em;
}

.week-title {
    display: flex;
    justify-content: space-evenly;
}

.bal-label {
    margin-right: 2.5em;
    margin-top: 1em;
}

.bet {
    background: white;
    border-radius: 15px;
    margin: 0 auto;
    border: 3px solid green;
    width: 75%;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.team-item {
    padding: .25em;
}

.item {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 1em 1em;
}

.update-label {
    margin-left: .75em;
    margin-top: 1em;
}

.game-id-box {
    padding: .5em 0;
    width: 75%;
    margin: 0 auto;
}

.scores-box {
    padding: .5em 0;
    width: 50%;
    margin: 0 auto;
}


/*************************************
        Buttons
 **************************************/

.undo-btn {
    background: yellow;
    color: red;
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    font-weight: 900;
    padding-left: 2rem;
    padding-right: 2rem;
    border-width: 3px;
    border-color: red;
}

    .undo-btn:hover {
        background: red;
        color: yellow;
        border-color:yellow;
    }

.site-btn {
    font-family: 'Montserrat', sans-serif;
    border-width: 3px;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 900;
    border-color: green;
    color: green;
}

.site-btn-light:hover {
    color: #FFFFFF;
    background-color: green;
    border-color: green;
}
