@page "/AdminScoresInput"
@attribute [Authorize(Policy = "Admin")]

<PageTitle>AdminScoresInput</PageTitle>

<div style="text-align:center; margin-right: 720px;" class="balance">
    <label>Admin</label>
</div>

<ScoresInput/>
