@page "/AdminGamesInput"
@attribute [Authorize(Policy = "Admin")]

<PageTitle>AdminGamesInput</PageTitle>

<div style="text-align:center; margin-right: 720px;" class="balance">
    <label>Admin</label>
</div>

<GamesInput/>
