@page "/AdminGameInfoFetch"
@attribute [Authorize(Policy = "Admin")]
@inject IGameService gameService

<PageTitle>AdminGameInfoFetch</PageTitle>

<div style="text-align: center;margin-top:4em;">
    <button @onclick="FetchAllScoresForFinishedGames" class="mt-1 site-btn btn site-btn-light btn-sm text-uppercase">
        Fetch And Insert Scores
    </button>
</div>

<div style="text-align: center;margin-top:4em;">
    <button @onclick="FetchAllUpdatedGameInfoForAvailableGames" class="mt-1 site-btn btn site-btn-light btn-sm text-uppercase">
        Fetch And Update Game Info
    </button>
</div>



@code {

    private async Task FetchAllScoresForFinishedGames()
    {
        await gameService.FetchAllScoresForFinishedGames();
    }

    private async Task FetchAllUpdatedGameInfoForAvailableGames()
    {
        await gameService.FetchAllUpdatedGameInfoForAvailableGames();
    }
}
