<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin-games-input">
            <button style="margin-top:1.75em;" class="site-btn btn site-btn-light btn-sm text-uppercase">Admin Games Input</button>
        </a>
        <a href="/admin-scores-input">
            <button style="margin-top:1.75em;" class="site-btn btn site-btn-light btn-sm text-uppercase">Admin Scores Input</button>
        </a>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a href="/profile">
             <button style="margin-top:1.75em;" class="site-btn btn site-btn-light btn-sm text-uppercase">Profile</button>
        </a>
        <a href="/">
            <button style="margin-top:1.75em;" class="site-btn btn site-btn-light btn-sm text-uppercase">Home</button>
        </a>
        <a href="MicrosoftIdentity/Account/SignOut">
            <button style="margin-top:1.75em;" class="site-btn btn site-btn-light btn-sm text-uppercase">Logout</button>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">
            <button style="margin-top:1.75em;" class="site-btn btn site-btn-light btn-sm text-uppercase">Login</button>
        </a>
    </NotAuthorized>
</AuthorizeView>
