@inherits LayoutComponentBase

<PageTitle>BetBookUI</PageTitle>

<div class="page">

    <main>
        <div class="header px-5 pt-3 nav-links">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

<style>
    .header {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        position: fixed;
        background: palegreen;
        padding-bottom: 15px;
        border-bottom: 4px solid green;
    }
</style>