@inherits LayoutComponentBase
@inject MediatR.IMediator _mediator
@inject AuthenticationStateProvider _authProvider

<PageTitle>BetBookUI</PageTitle>

<div class="page">
    <main>
        
        <Header LoggedInUser="loggedInUser"/>

        <article class="content px-4">
            @Body
        </article>

        <Footer LoggedInUser="loggedInUser"/>

    </main>
</div>

@code {
    UserModel? loggedInUser;

    protected async override Task OnInitializedAsync()
    {
        loggedInUser = await _mediator.GetUserFromAuth(_authProvider);
    }
}