@inherits LayoutComponentBase
@inject NavigationManager navManager


<PageTitle>BetBookUI</PageTitle>

<div class="page">
    <main>
        <div class="header px-5 pt-3 nav-links">
            <div @onclick="NavigateHome" class="icon-container">
                <image class="fb-icon" src="/images/fb.png"></image>
                <h3 class="name">Bet Book</h3>
            </div>
            <div class="login">
                <LoginDisplay />
            </div>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    
    /// <summary>
    /// Method navigates to the home page
    /// </summary>
    private void NavigateHome()
    {
        navManager.NavigateTo("/");
    }
}