@page "/CreateBet/{gameId:int}"
@attribute [Authorize]
@using BetBookUI.Helpers
@using BetBookUI.Components
@inject IGameData gameData
@inject ITeamData teamData
@inject ITeamRecordData recordData

<PageTitle>CreateBet</PageTitle>

<div class="game-wager-container">

    <GameDetails BasicCurrentGame="basicCurrentGame" 
                 TeamStats="teamStats" 
                 GameTeamRecordsLists="gameTeamRecordsLists"/>

    <CreateWager CurrentGame="currentGame"
                 BasicCurrentGame="basicCurrentGame" />
</div>

@code {

    // Game id from selected game
    [Parameter]
    public int gameId { get; set; }

    // Current game being viewed
    private GameModel currentGame;

    // Display info for current game being viewed
    private BasicGameModel basicCurrentGame = new();

    // List of a list of team records in current game
    private List<List<string>> gameTeamRecordsLists = new();

    // Stats of the teams in the game
    int[] teamStats = new int[6];


    /// <summary>
    /// Async initialization method
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        currentGame = await gameData.GetGame(gameId);

        if(currentGame is not null)
        {
            basicCurrentGame = 
                await currentGame.PopulateBasicGameModelFromGame(teamData);
            gameTeamRecordsLists =  
                await currentGame.PopulateRecordsListsFromGame(recordData);
        }

        if(gameTeamRecordsLists is not null)
            teamStats = gameTeamRecordsLists.PopulateTeamStatsFromRecordLists();
    }
}
