@page "/CreateBet/{gameId:int}"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject ILogger<CreateBet> logger
@inject MediatR.IMediator _mediator

<PageTitle>CREATE A BET</PageTitle>

<div class="game-wager-container">

    <GameDetails CurrentGame="currentGame"/>

</div>

@code {

    [Parameter]
    public int gameId { get; set; }
    private GameModel? currentGame;

    private UserModel? loggedInUser;

    protected async override Task OnInitializedAsync()
    {
        logger.LogInformation("Create Bet Page Requested");

        currentGame = await _mediator.Send(
            new GetCurrentGameByGameIdQuery(gameId));

        loggedInUser = await _mediator.GetUserFromAuth(authProvider);
    }
}
