@page "/CreateBet/{gameId:int}"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject IGameData gameData
@inject ITeamData teamData
@inject IUserData userData

<PageTitle>CREATE A BET</PageTitle>

<div class="game-wager-container">

    <GameDetails CurrentGame="CurrentGame"/>

</div>

@code {

    // Game id from selected game
    [Parameter]
    public int gameId { get; set; }

    // Current game being viewed
    private GameModel? CurrentGame { get; set; }

    // Current logged in user
    private UserModel? loggedInUser;

    private IEnumerable<GameModel>? games;

    private IEnumerable<TeamModel>? teams;

    /// <summary>
    /// Async initialization method
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        games = await gameData.GetGames();

        teams = await teamData.GetTeams();

        CurrentGame = games.Where(g => g.Id == gameId)
                           .ToList()
                           .PopulateGameModelsWithTeams(teams)
                           .FirstOrDefault();

        loggedInUser = await authProvider.GetUserFromAuth(userData);

        loggedInUser.AccountBalance = 
            Convert.ToDecimal((loggedInUser.AccountBalance).ToString("#.00"));
    }
}
