@page "/CreateBet/{gameId:int}"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject ILogger<CreateBet> logger
@inject MediatR.IMediator _mediator

<PageTitle>CREATE A BET</PageTitle>

<div class="game-wager-container">

    <GameDetails CurrentGame="CurrentGame"/>

</div>

@code {

    [Parameter]
    public int gameId { get; set; }
    private GameModel? CurrentGame { get; set; }
    private IEnumerable<GameModel>? games;
    private IEnumerable<TeamModel>? teams;

    protected async override Task OnInitializedAsync()
    {
        logger.LogInformation("Create Bet Page Requested");

        if (games is null)
            games = await _mediator.Send(new GetGamesQuery());

        if (teams is null)
            teams = await _mediator.Send(new GetTeamsQuery());

        CurrentGame = games.Where(g => g.Id == gameId)
                           .FirstOrDefault()!
                           .PopulateGameModelWithTeams(teams);
    }
}
