@page "/CreateBet/{gameId:int}"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject IGameData gameData
@inject ITeamData teamData
@inject IUserData userData

<PageTitle>CREATE A BET</PageTitle>

<div class="game-wager-container">

    <GameDetails CurrentGame="CurrentGame"/>

</div>

@code {

    // Game id from selected game
    [Parameter]
    public int gameId { get; set; }

    // Current game being viewed
    private GameModel? CurrentGame { get; set; }

    private IEnumerable<GameModel>? games;

    private IEnumerable<TeamModel>? teams;

    /// <summary>
    /// Async initialization method
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        if(games is null)
            games = await gameData.GetGames();

        if(teams is null)
            teams = await teamData.GetTeams();

        CurrentGame = games.Where(g => g.Id == gameId)
                           .ToHashSet<GameModel>()
                           .PopulateGameModelsWithTeams(teams)
                           .FirstOrDefault();
    }
}
