@page "/CreateBet/{gameId:int}"
@attribute [Authorize]
@inject AuthenticationStateProvider authProvider
@inject IGameData gameData
@inject ITeamData teamData
@inject IUserData userData
@inject ILogger<CreateBet> logger

<PageTitle>CREATE A BET</PageTitle>

<div class="game-wager-container">

    <GameDetails CurrentGame="CurrentGame"/>

</div>

@code {

    [Parameter]
    public int gameId { get; set; }
    private GameModel? CurrentGame { get; set; }
    private IEnumerable<GameModel>? games;
    private IEnumerable<TeamModel>? teams;

    protected async override Task OnInitializedAsync()
    {
        logger.LogInformation("Create Bet Page Requestd");

        if(games is null)
            games = await gameData.GetGames();

        if(teams is null)
            teams = await teamData.GetTeams();

        CurrentGame = games.Where(g => g.Id == gameId)
                           .ToHashSet<GameModel>()
                           .PopulateGameModelsWithTeams(teams)
                           .FirstOrDefault();
    }
}
