@page "/"
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject ITeamData teamData
@inject IGameData gameData
@inject IGameService gameService

<PageTitle>HOME</PageTitle>

@******************************  Demo Display  ********************************@

<div class="games-page">

    <div class="info-label-container">

        @if(gamesAvailable is not null && gamesAvailable.Count != 1)
        {
            <div>
                <h3 style="margin-left:15em;font-weight:700;">@gamesAvailable.Count Available Games</h3>
            </div>
        }
        else if(gamesAvailable is not null)
        {
            <div>
                <h3 style="margin-left:15em;font-weight:700;">@gamesAvailable.Count Available Game</h3>
            </div>
        }
        <div>
            <h3 style="margin-right:15em;font-weight:700;">@nextWeekSeason Season Week @nextWeek</h3>
        </div>

    </div>

    <div class="games">

        <GameDisplay AvailableGameList="gamesAvailable" 
                     User="loggedInUser"
                     Teams="teams"/>

    </div>
</div>


@code {

    // Current logged in user
    UserModel? loggedInUser;

    // Current week of season
    int currentWeek;

    int nextWeek;

    // Current season type
    SeasonType currentSeason;

    SeasonType nextWeekSeason;

    List<GameModel> gamesAvailable = new();

    IEnumerable<TeamModel>? teams;

    IEnumerable<GameModel>? games;

    /// <summary>
    /// Async initialization method
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        teams = await teamData.GetTeams();
        games = await gameData.GetGames();

        gamesAvailable = games.Where(g => 
            g.GameStatus == GameStatus.NOT_STARTED).ToList();

        currentSeason = DateTime.Now.CalculateSeason();
        currentWeek = currentSeason.CalculateWeek(DateTime.Now);

        (nextWeek, nextWeekSeason) = 
            (currentWeek, currentSeason).CalculateNextWeekAndSeasonFromCurrentWeekAndSeason();

        if (gamesAvailable.Count < 1)
        {
            gamesAvailable = 
                await gameService.GetGamesForNextWeek(currentSeason, currentWeek);
        }
        

        gamesAvailable = gamesAvailable.PopulateGameModelsWithTeams(teams);

        loggedInUser = await authProvider.GetUserFromAuth(userData);

        await authProvider.LoadAndVerifyUser(loggedInUser, userData);
    }
}
