@page "/"
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject MediatR.IMediator _mediator
@inject ILogger<Index> logger

<PageTitle>HOME</PageTitle>

<div>
    <h6 class="text-uppercase" style="font-size:25px;text-align:center; font-weight:700;">@season Season Week @week</h6>
</div>
    

<div class="games">

    <GameDisplay AvailableGameList="gamesAvailable" 
                    User="loggedInUser"
                    Teams="teams"/>

</div>

@code {
    UserModel? loggedInUser;
    SeasonType season;
    int week;
    HashSet<GameModel> gamesAvailable = new();
    HashSet<GameModel> thisWeeksGames = new();
    IEnumerable<TeamModel>? teams;
    IEnumerable<GameModel>? games;

    protected async override Task OnInitializedAsync()
    {
        logger.LogInformation("Index Page Requested");

        season = DateTime.Now.CalculateSeason();
        week = season.CalculateWeek(DateTime.Now);

        if (teams is null)
            teams = await _mediator.Send(new GetTeamsQuery());
        if (games is null)
            games = await _mediator.Send(new GetGamesQuery());

        thisWeeksGames = games.Where(
            g => g.WeekNumber == week).ToHashSet<GameModel>();

        if (thisWeeksGames.Count != 16)
            thisWeeksGames = await _mediator.Send(new GetGamesForThisWeekQuery(season, week));

        gamesAvailable = thisWeeksGames.Where(g =>
            g.GameStatus == GameStatus.NOT_STARTED).ToHashSet<GameModel>();

        gamesAvailable = gamesAvailable.PopulateGameModelsWithTeams(teams);

        await authProvider.LoadAndVerifyUser(loggedInUser, _mediator);

        loggedInUser = await authProvider.GetUserFromAuth(_mediator);
    }

}
