@page "/"
@inject NavigationManager navManager
@inject AuthenticationStateProvider authProvider
@inject MediatR.IMediator _mediator
@inject ILogger<Index> logger

<PageTitle>HOME</PageTitle>

<div>
    <h6 class="text-uppercase" style="font-size:25px;text-align:center; font-weight:700;">@season Season Week @week</h6>
</div>
    

<div class="games">

    <GameDisplay AvailableGameList="gamesAvailable" 
                    User="loggedInUser"/>

</div>

@code {
    UserModel? loggedInUser;
    Season season;
    int week;
    List<GameModel> gamesAvailable = new();
    List<GameModel> thisWeeksGames = new();

    protected async override Task OnInitializedAsync()
    {
        logger.LogInformation("Index Page Requested");

        season = DateTime.Now.CalculateSeason();
        week = season.CalculateWeek(DateTime.Now);

        thisWeeksGames = 
            (List<GameModel>)await _mediator.Send(
                new GetGameModelsByWeekAndSeasonQuery(week, season));
        await _mediator.UpdateAll(week, season);

        if (thisWeeksGames.Count != 16)
        {
            await _mediator.UpdateAll(week, season);
        }

        gamesAvailable = thisWeeksGames.Where(g =>
            g.GameStatus == GameStatus.NOT_STARTED).ToList<GameModel>();

        loggedInUser = await _mediator.GetUserFromAuth(authProvider);
        await _mediator.LoadAndVerifyUser(authProvider, loggedInUser);
    }
}
