@page "/Profile"
@attribute [Authorize]

<PageTitle>Profile</PageTitle>

@*********************************** Demo Display ******************************************@
<div class="profile">
    <ProfileRegBets/>
    <ProfileParleyBets/>
</div>

@*TODO - Parley bet payout methods*@
@*TODO - Parley bet winner check method*@